<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <temporaryOfflineCause class="hudson.node_monitors.DiskSpaceMonitorDescriptor$DiskSpace">
    <timestamp>1704037810570</timestamp>
    <path>/home/ubuntu/jobs</path>
    <size>923787264</size>
    <triggered>true</triggered>
    <trigger>hudson.node_monitors.DiskSpaceMonitor</trigger>
  </temporaryOfflineCause>
  <name>slave2node.js</name>
  <description></description>
  <remoteFS>/home/ubuntu/jobs</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.916.vd17b_43357ce4">
    <host>172.31.45.167</host>
    <port>22</port>
    <credentialsId>slave1</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>slave2node.js</label>
  <nodeProperties/>
</slave>